#submit-button {
  display: flex;
  align-items: center;
  margin-left: 1rem;
  height: 2.4rem;
}

.board-title {
  text-decoration: underline;
}

.board-title-color {
  color: red;
}

.delete-board-button {
  display: flex;
  margin-left: 2rem;
}

.main-block {
}

.column-item {
  margin: 3px;
  border: solid 1px;
  border-radius:5px;

}
