<header>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <div class="add-board-form">
      <form [formGroup]="createBoardForm" novalidate (ngSubmit)="addBoard()" class="d-flex align-items-center">
      <div class="form-group">
        <input type="text" class="form-control" formControlName="board" placeholder="Enter board name"/>
      </div>
      <div class="form-group d-flex">
        <button class="btn btn-default btn btn-primary btn-lg btn-block" id="submit-button" [disabled]="createBoardForm.invalid">
          Add
        </button>
      </div>
    </form>
    </div>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">To invite</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Select board
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown" *ngIf="userBoards.length; then haveBoards else noBoards">
          </div>
        </li>
      </ul>
      <div class="form-group">
        <input type="text" class="form-control rename-board" [(ngModel)]="newBoardName" (change)="renameBoard()" value="{{boardName}}" placeholder="Current board"/>
      </div>
      <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>

  <ng-template #haveBoards>
    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
      <li><a class="dropdown-item" *ngFor="let item of userBoards" (click)="selectBoard(item.boardId, item.boardName)">{{item.boardName}}</a></li>
    </ul>
  </ng-template>

  <ng-template #noBoards>
    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
      <li><a class="dropdown-item">No boards</a></li>
    </ul>
  </ng-template>

</header>

<main>
  <div class="container-fluid mt-3">
    <div class="row">
      <div class="col-10 d-flex align-items-center justify-content-center m-auto">
        <h5 class="board-title ml-2">Name of selected board:<span class="board-title-color">{{boardName}}</span></h5>
        <button type="button" class="btn btn-primary delete-board-button" (click)="renameBoard()">Rename board</button>
        <button type="button" class="btn btn-primary delete-board-button" (click)="deleteBoard()">Delete board</button>
      </div>

    </div>
  </div>

  <div *ngIf="renBoardStatus == true">

    <div class="modal" tabindex="-1">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Modal title</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="renameBoard()"></button>
          </div>
          <div class="modal-body">
            <p>Modal body text goes here.</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">Save changes</button>
          </div>
        </div>
      </div>
    </div>

  </div>

  <div class="container-fluid boards mt-4">
    <div class="row">
      <section class="col column-item">One</section>
      <section class="col column-item">Two</section>
      <section class="col column-item">Three</section>
      <section class="col column-item">Four</section>
      <section class="col column-item">Five</section>
    </div>
  </div>

</main>






