<header>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <div class="add-board-form">
      <form [formGroup]="createBoardForm" novalidate (ngSubmit)="addBoard()" class="d-flex align-items-center">
      <div class="form-group">
        <input type="text" class="form-control" formControlName="board" placeholder="Enter board name"/>
      </div>
      <div class="form-group d-flex">
        <button class="btn btn-default btn btn-primary btn-lg btn-block" id="submit-button" [disabled]="createBoardForm.invalid">
          Add
        </button>
      </div>
    </form>
    </div>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">To invite</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Select board
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown" *ngIf="userBoards.length; then haveBoards else noBoards">
          </div>
        </li>
        <div class="rename-delete-block">
          <div class="form-group rename-board">
            <input type="text" class="form-control rename-board-input" [(ngModel)]="newBoardName" (change)="renameBoard()" value="{{boardName}}" placeholder="Current board"/>
          </div>
          <button type="button" class="btn btn-primary delete-board-button" (click)="deleteBoard()">Delete board</button>
        </div>
      </ul>

      <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>

  <ng-template #haveBoards>
    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
      <li><a class="dropdown-item" *ngFor="let item of userBoards" (click)="selectBoard(item.boardId, item.boardName)">{{item.boardName}}</a></li>
    </ul>
  </ng-template>

  <ng-template #noBoards>
    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
      <li><a class="dropdown-item">No boards</a></li>
    </ul>
  </ng-template>

</header>

<main>
  <app-lists [boardId]="boardId"></app-lists>
</main>






