#submit-button {
  display: flex;
  align-items: center;
  margin-left: 1rem;
  height: 2.4rem;
}

.rename-board {
  width: 150px;
  display: flex;
}

.delete-board-button {
  display: flex;
  margin-left: 15px;
}

.rename-delete-block {
  display: flex;
}

.rename-board-input {
  color: red;
  font-weight: bold;
  cursor: pointer;
}

.board-title {
  text-decoration: underline;
}

.invite-link {
  font-size: 1.3rem;
}


