<header>
  <div class="trello-logo-mobile"><img src="assets/trello-logo.jpg" alt="" width="120"></div>
<nav class="navbar navbar-expand-lg navbar-light bg-light nav-bar-add-rename-board">
  <div class="container-fluid">
    <div class="add-board-form">
      <form [formGroup]="createBoardForm" novalidate (ngSubmit)="addBoard()" class="d-flex align-items-center">
      <div class="form-group">
        <input type="text" id="board-add-form" class="form-control add-board-form" formControlName="board" placeholder="Enter board name"/>
      </div>
      <div class="form-group d-flex">
        <button class="btn btn-default btn btn-primary btn-lg btn-block" id="submit-button" [disabled]="createBoardForm.invalid">
          Add
        </button>
      </div>
    </form>
    </div>
    <button class="navbar-toggler add-board-navbar" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active invite-participant" aria-current="page" href="#" data-bs-toggle="modal" data-bs-target="#board-link" [ngClass]="{invisible: !boardOwner}" (click)="inviteCreateLink($event)">Invite a participant</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle nav-link-select-board" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Select board
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown" *ngIf="userBoards.length; then haveBoards else noBoards">
          </div>
        </li>
        <div class="rename-delete-block">
          <div class="form-group rename-board">
            <input type="text" class="form-control rename-board-input" name="board-name" [(ngModel)]="newBoardName" [ngClass]="{disable: !boardOwner}" (change)="renameBoard()" value="{{boardName}}" placeholder="Current board"/>
          </div>
          <button type="button" class="btn btn-primary delete-board-button" [ngClass]="{invisible: !boardOwner}" (click)="deleteBoard()">Delete board</button>
        </div>
      </ul>

      <nav class="navbar navbar-light bg-light trello-logo">
        <div class="container">
          <a class="navbar-brand" href="#">
            <img src="assets/trello-logo.jpg" alt="" width="120">
          </a>
        </div>
      </nav>
    </div>
  </div>
</nav>

  <ng-template #haveBoards>
    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
      <li><a class="dropdown-item" *ngFor="let item of userBoards" (click)="selectBoard(item.boardId, item.boardName)">{{item.boardName}}</a></li>
    </ul>
  </ng-template>

  <ng-template #noBoards>
    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
      <li><a class="dropdown-item">No boards</a></li>
    </ul>
  </ng-template>

</header>

<main>
  <app-lists [boardId]="boardId"></app-lists>
</main>


<div class="modal fade" id="board-link" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Link to the board</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body invite-link">
        <div class="invite-link-wrapper">
        {{boardLink}}
        </div>
        <div>Submit this link to invite the user to the board.</div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>



