<header>
  <div class="nav header-nav">
    <img src="assets/trello-logo.jpg" id="logo-id" alt="trello-logo">
    <div class="links">
    <a (click)="goToLoginPage()" id="login-link">Log in</a>
    <button type="button" (click)="goToSignupPage()" id="signup-button">Sign up</button>
    </div>
  </div>
</header>

<div class="content">
  <div class="container-xl">
    <div class="d-flex flex-column flex-lg-row align-items-center">
      <div class="col-6"><h1 class="trello-info-title">Trello helps teams move work forward.</h1>
        <h5>Collaborate, manage projects, and reach new productivity peaks.
          From high rises to the home office, the way your team works is unique—accomplish it all with Trello.</h5>
        <button type="button" (click)="goToSignupPage()" id="text-block-sign-up-button">Sign up-it's free!</button>
      </div>
      <div class="col-5"><img class="img-responsive mw-100" src="assets/hero.png" alt="trello-hero"></div>
    </div>
  </div>
</div>

<footer>
  <div class="container-xl mt-5">
    <div class="atlassian-logo">
      <img src="assets/atlassian-logo-gray-small.svg" alt="atlassian-logo">
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-6 text-center mt-3">
      <h5>© Copyright 2021. All rights reserved.</h5>
    </div>
  </div>
</footer>

