.header{
  @media (max-width: 575.98px) {
   display: flex;
    justify-content: center;
  }
  @media (min-width: 576px) {
    margin-top: 0.5rem;
  }
}

#dropdownMenuLink{
  @media (max-width: 575.98px) {
    margin-right: 0.8rem;
  }
}

.dropdown-menu{
  @media (max-width: 575.98px) {
    margin-left: -250px;
    max-width: 20rem
  }
  @media (min-width: 576px) {
    margin-left: -250px;
    max-width: 30rem
  }
}

.restore-archive-button{
  @media (max-width: 575.98px) {
    margin-top: 0.5rem;
    margin-left: 0.2rem;
    margin-right: 0.2rem;
  }
}

.restore-single-archive-task-button{
  width: 30%;
  margin: 1rem auto;
  font-size: 0.8rem;
}

.list-for-restore-block{
  @media (max-width: 575.98px) {
    display: flex;
    flex-wrap: wrap;
  }
}

.list-item {
  width: 19%;
  margin: 3px;
  border: solid 1px;
  border-radius:5px;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  background: rgb(235,236,240);
  @media (max-width: 575.98px) {
    width: 98%;
    margin: 0.5rem auto;
  }
  @media (min-width: 576px) {
    width: 98%;
    margin: 0.5rem auto;
  }
  @media (min-width: 992px) {
    margin: 3px;
  }
}

.wrapper {

  @media (max-width: 575.98px) {
    display: flex;
    flex-direction: column;
  }
  @media (min-width: 576px) {
    display: flex;
    flex-direction: column;
  }
  @media (min-width: 992px) {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    flex-direction: row;
  }
}

.list-title {
  font-size: 1.3rem;
  font-weight: bold;
}

.list-title-to-do {
  font-size: 1.3rem;
  font-weight: bold;
  margin: auto;
}

.dividing-line {
  display: flex;
  width: 100%;
  border: solid 1px black;
}

.add-task-button {
  display: flex;
  justify-content: center;
  margin: 1rem auto 1rem auto;
  width: 10rem;
  color:black;
  font-size: 1.1rem;
  background: rgb(235,236,240);
  border: none;
  border-radius: 3px;
  &:hover {
    background-color: #E4E3E2;
  }

}

.add-task-block {
  margin-top: 1.5rem;
}

.add-task-form {
  display: flex;
  flex-direction: column;
}

.task-text {
  margin-top: 1rem;
}

.add-task-form-button {
  margin-top: 1rem;
  font-size: 1.2rem;
  width: 15rem;
}

.task-title {
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
  padding-left: 0.3rem;
  margin: auto;
  width: 90%;
  font-weight: bold;
  cursor: pointer;
  border: solid 1px;
  border-radius: 5px;
}

.task-text {
  margin: 0.5rem auto;
  width: 90%;
  font-weight: bold;
}

.task-wrapper {
  margin: auto;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  border: solid 1px darkgray;
  border-radius:5px;

}

.options-block {
  display: flex;
  justify-content: space-around;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.list-options {
  //display: flex;
}



.list-item-options-button {
  width: 90%;
  margin: 0.5rem auto;

}

.search-form {
  margin-top: -1rem;
}

.search-button {
  margin-left: 1rem;
}

.modal-tasks-block {
  margin: 1rem 0 1rem 0;
  font-size: 1.2rem;
  font-weight: bold;
}

.modal-tasks-item {
  border: 2mm ridge rgba(67, 77, 250, 1);
  border-radius: 5px;
}

.modal-window-task-list-name {
  margin: 0.5rem 1rem 0.5rem 1rem;
  text-decoration: underline;
}

.modal-window-task-title {
  margin: 0.5rem 1rem 0.5rem 1rem;
}

.modal-window-task-text {
  font-weight: bold;
  margin: 0 1rem 0.5rem 1rem;
}

.modal-no-tasks {
  font-size: 1.2rem;
  font-weight: bold;
}

.task-title-modal {
  font-size: 1.3rem;
}

.task-title-modal-input {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.save-changes-button {
  margin-top: 1rem;
}

.add-executor-block {
  margin-top: 1rem;
  margin-left: 1rem;
}

.add-executor-block-title{
  font-size: 1.3rem;
  display: flex;
  justify-content: center;
}

.add-executor-block-select {
  display: flex;
  justify-content: center;
  margin: 1rem auto;

}

.member {
  padding: 0.5rem 0.5rem;
  margin: 0 1rem;
  border: solid 1px;
  border-radius: 5px;
  &:hover {
    background-color: #E4E3E2;
  }
}

.modal-body {
  padding-bottom: 10rem;
}

.executors-block-title {
  display: flex;
  justify-content: center;
  font-size: 1.3rem;
  margin-bottom: 1rem;
}

.executors-block-content {
  display: flex;
  justify-content: center;
}

.task-executors-block-not-owner{
  display: flex;
  justify-content: center;
}


.task-executor-item {
  padding: 0.5rem 0.5rem;
  margin: 0 1rem;
  border: solid 1px;
  border-radius: 5px;
  &:hover {
    background-color: #E4E3E2;
  }
}

.task-executor-item-not-owner{
  padding: 0.5rem 0.5rem;
  margin: 0 1rem;
  border: solid 1px;
  border-radius: 5px;
}

.navbar-header{
  display: flex;
}

.dropdown-menu{
  width: 30rem;
  padding: 1rem 1rem;
}

.modal-achived-tasks-item {
  border: darkgray 1px solid;
  border-radius: 5px;
  background-color: white;
}

.modal-body-archived-block {
  background-color: rgb(235,236,240);
}

.restore-tasks-block-title{
  font-size: 1.1rem;
}

.actions-tasks-block-wrapper{
  height: 30rem;
  overflow:auto;
}

.actions-tasks-block{
  margin: 0.3rem 0.2rem 0.3rem 0.2rem;
  border: solid 1px darkgray;
  border-radius: 5px;
  padding: 0.2rem 0.2rem;
}

.invisible{
  display: none;
}

.visibility {
  visibility: hidden;
}

.hide {
  visibility: hidden;
}

.disable{
  pointer-events: none;
}

.log-out-button{
  @media (min-width: 992px) {
    margin-right: 3.5rem;
  }
  @media (max-width: 575.98px) {

  width: 15rem;
  font-size: 1.2rem;
   }

}

.log-out-button-block{
  @media (max-width: 575.98px) {
    margin: 0.5rem auto;
  }
}

.task-title-wrapper {
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
  padding-left: 0.3rem;
  margin: auto;
  height: 2rem;
  width: 90%;
  font-weight: bold;
  cursor: pointer;
  border: solid 1px;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  &:hover {
    .popover-button {
      visibility: visible;
    }
  }
}

.popover-button{
  display: flex;
  align-items: center;
  height: 1.5rem;
  visibility: hidden;
  border: none;
  background-color: white;
  border-radius: 5px;
  margin-right: 3px;
  &:hover {
    background-color: #E4E3E2;
  }
}

.task-options {
  display: flex;
  flex-direction: column;
}

.delete-task-button {
  margin-bottom: 0.5rem;
}

.list-title-block-options-button {
  position: absolute;
  right: 0px;
  border: none;
  border-radius: 5px;
  &:hover {
    background-color: #E4E3E2;
  }
}

.title-block-options {
  width: 80px;
}

// drag and drop styles

.draggable-container {
  width: 100%;
  max-width: 100%;
  display: inline-block;
  vertical-align: top;
}

.draggable-list {
  min-height: 60px;
  border-radius: 4px;
  overflow: hidden;
  display: block;

}


.draggable-box {
  margin: 0.5rem;
  cursor: move;
  background: white;
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
  0 8px 10px 1px rgba(0, 0, 0, 0.14),
  0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.draggable-box:last-child {
  border: none;
}

.draggable-list.cdk-drop-list-dragging .draggable-box:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

