<div class="header">
  <nav class="navbar navbar-light bg-light search-form">
    <div class="navbar-header">
      <div class="container-fluid">
        <form class="d-flex form-group" [formGroup]="searchTaskForm" novalidate (ngSubmit)="searchTask(searchTaskForm.value.taskTitle, searchTaskForm)">

          <div class="form-group">
            <input class="form-control me-2" type="search" formControlName="taskTitle" placeholder="Enter the title of the task" aria-label="Search">
          </div>
          <div class="form-group search-button">
            <button class="btn btn-outline-success" type="submit" data-bs-toggle="modal" data-bs-target="#myModal" [disabled]="searchTaskForm.invalid">Search</button>
          </div>
        </form>
      </div>

      <div class="dropdown">
        <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false" (click)="loadActionsOfTasks()">
          Menu
        </a>

        <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink dropdown-menu dropdown-menu-block">
          <div class="show-archive d-flex justify-content-center" >
            <button type="button" class="btn btn-primary mt-4" data-bs-toggle="modal" data-bs-target="#menu-modal" [ngClass]="{invisible: !boardOwner}" (click)="showArchivedTasks()">Show archived tasks</button>
          </div>
          <div class="actions-list d-flex justify-content-center mt-4">List of action histories on tasks:</div>
          <div class="modal-window" *ngIf="taskActions.length != 0; then haveActionsHistory else notHaveActionsHistory"></div>


        </ul>
      </div>

    </div>
    <div class="log-out-button-block">
    <button type="button" class="btn btn-primary log-out-button" (click)="logOut()">Log out</button>
    </div>
  </nav>

  <ng-template #haveActionsHistory>
    <div class="actions-tasks-block-wrapper">
      <div class="actions-tasks-block" *ngFor="let item of taskActions">
        <div class="actions-tasks-title">Task title: {{item.taskTitle}}</div>
        <div class="actions-tasks-action">Action on a task: {{item.action}}</div>
        <div class="actions-tasks-date">Operation time: {{item.updatedAt}}</div>
      </div>
    </div>
  </ng-template>

  <ng-template #notHaveActionsHistory>
    <div class="not-actions-block d-flex justify-content-center mt-4 mb-4 fw-bold">
      No history of actions on tasks
    </div>
  </ng-template>

  <div class="modal fade" id="menu-modal" tabindex="-1" aria-labelledby="menuModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="menuModalLabel">Archived tasks</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body modal-body-archived-block">


          <div class="modal-window" *ngIf="archivedTasks.length != 0; then modalArchivedTasks else modalArchivedNoTasks"></div>

          <ng-template #modalArchivedTasks>
            <div class="restore-tasks-block">
              <div class="restore-tasks-block-title" [ngClass]="{invisible: !boardOwner}">
                Restore tasks to one of the lists:
              </div>
              <div class="list-for-restore-block d-flex justify-content-evenly mt-2">
                <button type="button" class="btn btn-secondary restore-archive-button" [ngClass]="{invisible: !boardOwner}" (click)="restoreTasks('To Do')">To Do</button>
                <button type="button" class="btn btn-secondary restore-archive-button" [ngClass]="{invisible: !boardOwner}" (click)="restoreTasks('In Progress')">In Progress</button>
                <button type="button" class="btn btn-secondary restore-archive-button" [ngClass]="{invisible: !boardOwner}" (click)="restoreTasks('Coded')">Coded</button>
                <button type="button" class="btn btn-secondary restore-archive-button" [ngClass]="{invisible: !boardOwner}" (click)="restoreTasks('Testing')">Testing</button>
                <button type="button" class="btn btn-secondary restore-archive-button" [ngClass]="{invisible: !boardOwner}" (click)="restoreTasks('Done')">Done</button>
              </div>
            </div>
            <div class="container-fluid archived-tasks-container">
              <div class="modal-tasks-block" *ngFor="let item of archivedTasks">
                <div class="row modal-achived-tasks-item">
                  <div class="modal-window-achived-task-list-name">List name: {{item.listName}}</div>
                  <div class="modal-window-achived-task-title">Task title: {{item.taskTitle}}</div>
                  <div class="modal-window-achived-task-text">Task text: {{item.taskText}}</div>
                </div>
              </div>
            </div>
          </ng-template>

          <ng-template #modalArchivedNoTasks>
            <div class="container-fluid">
              <div class="row modal-no-tasks">No archived tasks!</div>
            </div>
          </ng-template>


        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

</div>

<div cdkDropListGroup>
  <div class="wrapper">

    <div class="list-item">
      <div class="list-title d-flex justify-content-center">
        {{todoList}}
      </div>
      <div class="dividing-line"></div>

      <div class="draggable-container">
        <div
          cdkDropList
          [cdkDropListData]="todoListTasks"
          class="draggable-list movable-list"
          (cdkDropListDropped)="drop($event, todoList)">
          <div class="draggable-box" *ngFor="let item of todoListTasks" cdkDrag>
            <div class="task-wrapper">

              <div class="task-title" (click)="open(modalTaskTodoList)">Title: {{item.taskTitle}}</div>

              <ng-template class="modal" #modalTaskTodoList let-modal>
                <div class="modal-header">
                  <div class="modal-basic-task-title">
                    <div class="task-title-modal">Task title: <input type="text" class="form-control task-title-modal-input" [(ngModel)]="item.taskTitle" [ngClass]="{disable: !boardOwner}" (change)="renameTaskTitleOrText(item.taskId, item.taskTitle, null)"/></div>
                    <h6>In list: {{todoList}}</h6>
                  </div>
                  <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                    <span aria-hidden="true">×</span>
                  </button>
                </div>
                <div class="modal-body">
                  <h5>Description:</h5>
                  <textarea  rows="3" type="text" class="form-control" [(ngModel)]="item.taskText" [ngClass]="{disable: !boardOwner}" (change)="renameTaskTitleOrText(item.taskId, null, item.taskText)"></textarea>
                  <button type="button" class="btn btn-primary save-changes-button" [ngClass]="{invisible: !boardOwner}" (click)="renameTaskTitleOrText(item.taskId, null, item.taskText)">Save changes</button>

                  <div class="add-executor-block">
                    <div class="add-executor-block-title" [ngClass]="{invisible: !boardOwner}">
                      Select the task executor among the board members:
                    </div>
                    <div class="add-executor-block-select" [ngClass]="{invisible: !boardOwner}">
                      <div class="board-members" *ngFor="let member of boardMembers">
                        <button class="member" (click)="selectExecutor(item.taskId, member.userId, boardId)">{{member.userEmail}}</button>
                      </div>
                    </div>
                  </div>
                  <div class="executors-block-title" [ngClass]="{invisible: !boardOwner}">Task executors(click on the executor to remove him from the task):</div>
                  <div class="executors-block-content" [ngClass]="{invisible: !boardOwner}">
                    <div *ngFor="let executor of taskExecutors">
                      <div *ngIf="item.taskId == executor.taskId">
                        <div class="task-executor-items-block">
                          <button class="task-executor-item" (click)="deleteExecutor(item.taskId, executor.userId)">
                            {{executor.userEmail}}
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="self-executor" *ngIf="boardOwner == false">
                    <div class="task-executors-block-title-not-owner d-flex justify-content-center mt-4 mb-4">Task executors:</div>
                    <div class="task-executors-block-not-owner">
                      <div *ngFor="let executor of taskExecutors">
                        <div *ngIf="item.taskId == executor.taskId">
                          <div class="task-executor-items-block-not-owner">
                            <div class="task-executor-item-not-owner">
                              {{executor.userEmail}}
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div *ngFor="let executor of taskExecutors">
                      <div *ngIf="item.taskId == executor.taskId && executor.userId == userId">
                        <div class="task-executor-items-block-self d-flex justify-content-center mt-4">
                          <button class="task-executor-item-self fw-bold" (click)="deleteExecutor(item.taskId, executor.userId)">
                            You are the executor of the task. Go out?
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>

                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Ok</button>
                </div>
              </ng-template>

              <div class="options-block">
                <button type="button" class="btn btn-primary btn-sm delete-task-button" [ngClass]="{invisible: !boardOwner}" (click)="deleteTask(item.taskId)">Delete task</button>
              </div>
            </div>
          </div>
        </div>
      </div>


      <div *ngIf="addTaskStatusTodoList; then addTaskButtonTodoList else inputTaskFormTodoList"></div>
      <div class="list-options">
        <button type="button" class="btn btn-primary btn-sm" [ngClass]="{invisible: !boardOwner}" (click)="deleteAllTasks(todoListTasks)">Delete all tasks</button>
        <button type="button" class="btn btn-secondary" [ngClass]="{invisible: !boardOwner}" (click)="archiveTasks(todoListTasks)">Archive tasks</button>
      </div>
    </div>


    <div class="list-item">
      <div class="list-title d-flex justify-content-center">
        {{inProgressList}}
      </div>
      <div class="dividing-line"></div>

      <div class="draggable-container">
        <div
          cdkDropList
          [cdkDropListData]="inProgressListTasks"
          class="draggable-list movable-list"
          (cdkDropListDropped)="drop($event, inProgressList)">
          <div class="draggable-box" *ngFor="let item of inProgressListTasks" cdkDrag>
            <div class="task-wrapper">

              <div class="task-title" (click)="open(modalTaskProgressList)">Title: {{item.taskTitle}}</div>

              <ng-template class="modal" #modalTaskProgressList let-modal>
                <div class="modal-header">
                  <div class="modal-basic-task-title">
                    <div class="task-title-modal">Task title: <input type="text" class="form-control task-title-modal-input" [(ngModel)]="item.taskTitle" [ngClass]="{disable: !boardOwner}" (change)="renameTaskTitleOrText(item.taskId, item.taskTitle, null)"/></div>
                    <h6>In list: {{inProgressList}}</h6>
                  </div>
                  <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                    <span aria-hidden="true">×</span>
                  </button>
                </div>
                <div class="modal-body">
                  <h5>Description:</h5>
                  <textarea  rows="5" type="text" class="form-control" [(ngModel)]="item.taskText" [ngClass]="{disable: !boardOwner}" (change)="renameTaskTitleOrText(item.taskId, null, item.taskText)"></textarea>
                  <button type="button" class="btn btn-primary save-changes-button" [ngClass]="{invisible: !boardOwner}" (click)="renameTaskTitleOrText(item.taskId, null, item.taskText)">Save changes</button>


                  <div class="add-executor-block">
                    <div class="add-executor-block-title" [ngClass]="{invisible: !boardOwner}">
                      Select the task executor among the board members:
                    </div>
                    <div class="add-executor-block-select" [ngClass]="{invisible: !boardOwner}">
                      <div class="board-members" *ngFor="let member of boardMembers">
                        <button class="member" (click)="selectExecutor(item.taskId, member.userId, boardId)">{{member.userEmail}}</button>
                      </div>
                    </div>
                  </div>
                  <div class="executors-block-title" [ngClass]="{invisible: !boardOwner}">Task executors(click on the executor to remove him from the task):</div>
                  <div class="executors-block-content" [ngClass]="{invisible: !boardOwner}">
                    <div *ngFor="let executor of taskExecutors">
                      <div *ngIf="item.taskId == executor.taskId">
                        <div class="task-executor-items-block">
                          <button class="task-executor-item" (click)="deleteExecutor(item.taskId, executor.userId)">
                            {{executor.userEmail}}
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="self-executor" *ngIf="boardOwner == false">
                    <div class="task-executors-block-title-not-owner d-flex justify-content-center mt-4 mb-4">Task executors:</div>
                    <div class="task-executors-block-not-owner">
                      <div *ngFor="let executor of taskExecutors">
                        <div *ngIf="item.taskId == executor.taskId">
                          <div class="task-executor-items-block-not-owner">
                            <div class="task-executor-item-not-owner">
                              {{executor.userEmail}}
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div *ngFor="let executor of taskExecutors">
                      <div *ngIf="item.taskId == executor.taskId && executor.userId == userId">
                        <div class="task-executor-items-block-self d-flex justify-content-center mt-4">
                          <button class="task-executor-item-self fw-bold" (click)="deleteExecutor(item.taskId, executor.userId)">
                            You are the executor of the task. Go out?
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>

                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Ok</button>
                </div>
              </ng-template>

              <div class="options-block">
                <button type="button" class="btn btn-primary btn-sm delete-task-button" [ngClass]="{invisible: !boardOwner}" (click)="deleteTask(item.taskId)">Delete task</button>
              </div>
            </div>
          </div>
        </div>
      </div>


      <div *ngIf="addTaskStatusProgressList; then addTaskButtonProgressList else inputTaskFormProgressList"></div>
      <div class="list-options">
        <button type="button" class="btn btn-primary btn-sm" [ngClass]="{invisible: !boardOwner}" (click)="deleteAllTasks(inProgressListTasks)">Delete all tasks</button>
        <button type="button" class="btn btn-secondary" [ngClass]="{invisible: !boardOwner}" (click)="archiveTasks(inProgressListTasks)">Archive tasks</button>
      </div>
    </div>


    <div class="list-item">
      <div class="list-title d-flex justify-content-center">
        {{codedList}}
      </div>
      <div class="dividing-line"></div>

      <div class="draggable-container">
        <div
          cdkDropList
          [cdkDropListData]="codedListTasks"
          class="draggable-list movable-list"
          (cdkDropListDropped)="drop($event, codedList)">
          <div class="draggable-box" *ngFor="let item of codedListTasks" cdkDrag>
            <div class="task-wrapper">

              <div class="task-title" (click)="open(modalTaskCodedList)">Title: {{item.taskTitle}}</div>

              <ng-template class="modal" #modalTaskCodedList let-modal>
                <div class="modal-header">
                  <div class="modal-basic-task-title">
                    <div class="task-title-modal">Task title: <input type="text" class="form-control task-title-modal-input" [(ngModel)]="item.taskTitle" [ngClass]="{disable: !boardOwner}" (change)="renameTaskTitleOrText(item.taskId, item.taskTitle, null)"/></div>
                    <h6>In list: {{codedList}}</h6>
                  </div>
                  <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                    <span aria-hidden="true">×</span>
                  </button>
                </div>
                <div class="modal-body">
                  <h5>Description:</h5>
                  <textarea  rows="5" type="text" class="form-control" [(ngModel)]="item.taskText" [ngClass]="{disable: !boardOwner}" (change)="renameTaskTitleOrText(item.taskId, null, item.taskText)"></textarea>
                  <button type="button" class="btn btn-primary save-changes-button" [ngClass]="{invisible: !boardOwner}" (click)="renameTaskTitleOrText(item.taskId, null, item.taskText)">Save changes</button>


                  <div class="add-executor-block">
                    <div class="add-executor-block-title" [ngClass]="{invisible: !boardOwner}">
                      Select the task executor among the board members:
                    </div>
                    <div class="add-executor-block-select" [ngClass]="{invisible: !boardOwner}">
                      <div class="board-members" *ngFor="let member of boardMembers">
                        <button class="member" (click)="selectExecutor(item.taskId, member.userId, boardId)">{{member.userEmail}}</button>
                      </div>
                    </div>
                  </div>
                  <div class="executors-block-title" [ngClass]="{invisible: !boardOwner}">Task executors(click on the executor to remove him from the task):</div>
                  <div class="executors-block-content" [ngClass]="{invisible: !boardOwner}">
                    <div *ngFor="let executor of taskExecutors">
                      <div *ngIf="item.taskId == executor.taskId">
                        <div class="task-executor-items-block">
                          <button class="task-executor-item" (click)="deleteExecutor(item.taskId, executor.userId)">
                            {{executor.userEmail}}
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="self-executor" *ngIf="boardOwner == false">
                    <div class="task-executors-block-title-not-owner d-flex justify-content-center mt-4 mb-4">Task executors:</div>
                    <div class="task-executors-block-not-owner">
                      <div *ngFor="let executor of taskExecutors">
                        <div *ngIf="item.taskId == executor.taskId">
                          <div class="task-executor-items-block-not-owner">
                            <div class="task-executor-item-not-owner">
                              {{executor.userEmail}}
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div *ngFor="let executor of taskExecutors">
                      <div *ngIf="item.taskId == executor.taskId && executor.userId == userId">
                        <div class="task-executor-items-block-self d-flex justify-content-center mt-4">
                          <button class="task-executor-item-self fw-bold" (click)="deleteExecutor(item.taskId, executor.userId)">
                            You are the executor of the task. Go out?
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>

                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Ok</button>
                </div>
              </ng-template>

              <div class="options-block">
                <button type="button" class="btn btn-primary btn-sm delete-task-button" [ngClass]="{invisible: !boardOwner}" (click)="deleteTask(item.taskId)">Delete task</button>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div *ngIf="addTaskStatusCodedList; then addTaskButtonCodedList else inputTaskFormCodedList"></div>
      <div class="list-options">
        <button type="button" class="btn btn-primary btn-sm" [ngClass]="{invisible: !boardOwner}" (click)="deleteAllTasks(codedListTasks)">Delete all tasks</button>
        <button type="button" class="btn btn-secondary" [ngClass]="{invisible: !boardOwner}" (click)="archiveTasks(codedListTasks)">Archive tasks</button>
      </div>
    </div>

    <div class="list-item">
      <div class="list-title d-flex justify-content-center">
        {{testingList}}
      </div>
      <div class="dividing-line"></div>

      <div class="draggable-container">
        <div
          cdkDropList
          [cdkDropListData]="testingListTasks"
          class="draggable-list movable-list"
          (cdkDropListDropped)="drop($event, testingList)">
          <div class="draggable-box" *ngFor="let item of testingListTasks" cdkDrag>
            <div class="task-wrapper">

              <div class="task-title" (click)="open(modalTaskTestingList)">Title: {{item.taskTitle}}</div>

              <ng-template class="modal" #modalTaskTestingList let-modal>
                <div class="modal-header">
                  <div class="modal-basic-task-title">
                    <div class="task-title-modal">Task title: <input type="text" class="form-control task-title-modal-input" [(ngModel)]="item.taskTitle" [ngClass]="{disable: !boardOwner}" (change)="renameTaskTitleOrText(item.taskId, item.taskTitle, null)"/></div>
                    <h6>In list: {{testingList}}</h6>
                  </div>
                  <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                    <span aria-hidden="true">×</span>
                  </button>
                </div>
                <div class="modal-body">
                  <h5>Description:</h5>
                  <textarea  rows="5" type="text" class="form-control" [(ngModel)]="item.taskText" [ngClass]="{disable: !boardOwner}" (change)="renameTaskTitleOrText(item.taskId, null, item.taskText)"></textarea>
                  <button type="button" class="btn btn-primary save-changes-button" [ngClass]="{invisible: !boardOwner}" (click)="renameTaskTitleOrText(item.taskId, null, item.taskText)">Save changes</button>


                  <div class="add-executor-block">
                    <div class="add-executor-block-title" [ngClass]="{invisible: !boardOwner}">
                      Select the task executor among the board members:
                    </div>
                    <div class="add-executor-block-select" [ngClass]="{invisible: !boardOwner}">
                      <div class="board-members" *ngFor="let member of boardMembers">
                        <button class="member" (click)="selectExecutor(item.taskId, member.userId, boardId)">{{member.userEmail}}</button>
                      </div>
                    </div>
                  </div>
                  <div class="executors-block-title" [ngClass]="{invisible: !boardOwner}">Task executors(click on the executor to remove him from the task):</div>
                  <div class="executors-block-content" [ngClass]="{invisible: !boardOwner}">
                    <div *ngFor="let executor of taskExecutors">
                      <div *ngIf="item.taskId == executor.taskId">
                        <div class="task-executor-items-block">
                          <button class="task-executor-item" (click)="deleteExecutor(item.taskId, executor.userId)">
                            {{executor.userEmail}}
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="self-executor" *ngIf="boardOwner == false">
                    <div class="task-executors-block-title-not-owner d-flex justify-content-center mt-4 mb-4">Task executors:</div>
                    <div class="task-executors-block-not-owner">
                      <div *ngFor="let executor of taskExecutors">
                        <div *ngIf="item.taskId == executor.taskId">
                          <div class="task-executor-items-block-not-owner">
                            <div class="task-executor-item-not-owner">
                              {{executor.userEmail}}
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div *ngFor="let executor of taskExecutors">
                      <div *ngIf="item.taskId == executor.taskId && executor.userId == userId">
                        <div class="task-executor-items-block-self d-flex justify-content-center mt-4">
                          <button class="task-executor-item-self fw-bold" (click)="deleteExecutor(item.taskId, executor.userId)">
                            You are the executor of the task. Go out?
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>

                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Ok</button>
                </div>
              </ng-template>

              <div class="options-block">
                <button type="button" class="btn btn-primary btn-sm delete-task-button" [ngClass]="{invisible: !boardOwner}" (click)="deleteTask(item.taskId)">Delete task</button>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div *ngIf="addTaskStatusTestingList; then addTaskButtonTestingList else inputTaskFormTestingList"></div>
      <div class="list-options">
        <button type="button" class="btn btn-primary btn-sm" [ngClass]="{invisible: !boardOwner}" (click)="deleteAllTasks(testingListTasks)">Delete all tasks</button>
        <button type="button" class="btn btn-secondary" [ngClass]="{invisible: !boardOwner}" (click)="archiveTasks(testingListTasks)">Archive tasks</button>
      </div>
    </div>

    <div class="list-item">
      <div class="list-title d-flex justify-content-center">
        {{doneList}}
      </div>
      <div class="dividing-line"></div>

      <div class="draggable-container">
        <div
          cdkDropList
          [cdkDropListData]="doneListTasks"
          class="draggable-list movable-list"
          (cdkDropListDropped)="drop($event, doneList)">
          <div class="draggable-box" *ngFor="let item of doneListTasks" cdkDrag>
            <div class="task-wrapper">

              <div class="task-title" (click)="open(modalTaskDoneList)">Title: {{item.taskTitle}}</div>

              <ng-template class="modal" #modalTaskDoneList let-modal>
                <div class="modal-header">
                  <div class="modal-basic-task-title">
                    <div class="task-title-modal">Task title: <input type="text" class="form-control task-title-modal-input" [(ngModel)]="item.taskTitle" [ngClass]="{disable: !boardOwner}" (change)="renameTaskTitleOrText(item.taskId, item.taskTitle, null)"/></div>
                    <h6>In list: {{doneList}}</h6>
                  </div>
                  <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                    <span aria-hidden="true">×</span>
                  </button>
                </div>
                <div class="modal-body">
                  <h5>Description:</h5>
                  <textarea  rows="5" type="text" class="form-control" [(ngModel)]="item.taskText" [ngClass]="{disable: !boardOwner}" (change)="renameTaskTitleOrText(item.taskId, null, item.taskText)"></textarea>
                  <button type="button" class="btn btn-primary save-changes-button" [ngClass]="{invisible: !boardOwner}" (click)="renameTaskTitleOrText(item.taskId, null, item.taskText)">Save changes</button>


                  <div class="add-executor-block">
                    <div class="add-executor-block-title" [ngClass]="{invisible: !boardOwner}">
                      Select the task executor among the board members:
                    </div>
                    <div class="add-executor-block-select" [ngClass]="{invisible: !boardOwner}">
                      <div class="board-members" *ngFor="let member of boardMembers">
                        <button class="member" (click)="selectExecutor(item.taskId, member.userId, boardId)">{{member.userEmail}}</button>
                      </div>
                    </div>
                  </div>
                  <div class="executors-block-title" [ngClass]="{invisible: !boardOwner}">Task executors(click on the executor to remove him from the task):</div>
                  <div class="executors-block-content" [ngClass]="{invisible: !boardOwner}">
                    <div *ngFor="let executor of taskExecutors">
                      <div *ngIf="item.taskId == executor.taskId">
                        <div class="task-executor-items-block">
                          <button class="task-executor-item" (click)="deleteExecutor(item.taskId, executor.userId)">
                            {{executor.userEmail}}
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="self-executor" *ngIf="boardOwner == false">
                    <div class="task-executors-block-title-not-owner d-flex justify-content-center mt-4 mb-4">Task executors:</div>
                    <div class="task-executors-block-not-owner">
                      <div *ngFor="let executor of taskExecutors">
                        <div *ngIf="item.taskId == executor.taskId">
                          <div class="task-executor-items-block-not-owner">
                            <div class="task-executor-item-not-owner">
                              {{executor.userEmail}}
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div *ngFor="let executor of taskExecutors">
                      <div *ngIf="item.taskId == executor.taskId && executor.userId == userId">
                        <div class="task-executor-items-block-self d-flex justify-content-center mt-4">
                          <button class="task-executor-item-self fw-bold" (click)="deleteExecutor(item.taskId, executor.userId)">
                            You are the executor of the task. Go out?
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>

                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Ok</button>
                </div>
              </ng-template>

              <div class="options-block">
                <button type="button" class="btn btn-primary btn-sm delete-task-button" [ngClass]="{invisible: !boardOwner}" (click)="deleteTask(item.taskId)">Delete task</button>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div *ngIf="addTaskStatusDoneList; then addTaskButtonDoneList else inputTaskFormDoneList"></div>
      <div class="list-options">
        <button type="button" class="btn btn-primary btn-sm" [ngClass]="{invisible: !boardOwner}" (click)="deleteAllTasks(doneListTasks)">Delete all tasks</button>
        <button type="button" class="btn btn-secondary" [ngClass]="{invisible: !boardOwner}" (click)="archiveTasks(doneListTasks)">Archive tasks</button>
      </div>
    </div>

  </div>
</div>

<ng-template #inputTaskFormTodoList>
  <div class="add-task-block">
    <form [formGroup]="createTaskFormTodoList" novalidate (ngSubmit)="addTask(todoList, createTaskFormTodoList.value.taskTitle, createTaskFormTodoList)"
          class="d-flex align-items-center add-task-form">
      <div class="form-group">
        <input type="text" class="form-control task-title" formControlName="taskTitle" placeholder="Enter task title"/>
      </div>
      <div class="form-group d-flex">
        <button class="btn btn-primary btn-sm add-task-form-button" [disabled]="createTaskFormTodoList.invalid">
          Add task
        </button>
      </div>
    </form>
    <button type="button" class="add-task-button" (click)="addTaskStatusToggle(todoList)">Close form</button>
  </div>
</ng-template>

<ng-template #addTaskButtonTodoList>
  <div class="add-button" [ngClass]="{invisible: !boardOwner}">
    <button type="button" class="add-task-button" (click)="addTaskStatusToggle(todoList)">Add task</button>
  </div>
</ng-template>

<ng-template #inputTaskFormProgressList>
  <div class="add-task-block">
    <form [formGroup]="createTaskFormProgressList" novalidate (ngSubmit)="addTask(inProgressList, createTaskFormProgressList.value.taskTitle, createTaskFormProgressList)"
          class="d-flex align-items-center add-task-form">
      <div class="form-group">
        <input type="text" class="form-control task-title" formControlName="taskTitle" placeholder="Enter task title"/>
      </div>
      <div class="form-group d-flex">
        <button class="btn btn-primary btn-sm add-task-form-button" [disabled]="createTaskFormProgressList.invalid">
          Add task
        </button>
      </div>
    </form>
    <button type="button" class="add-task-button" (click)="addTaskStatusToggle(inProgressList)">Close form</button>
  </div>
</ng-template>

<ng-template #addTaskButtonProgressList>
  <div class="add-button" [ngClass]="{invisible: !boardOwner}">
    <button type="button" class="add-task-button" (click)="addTaskStatusToggle(inProgressList)">Add task</button>
  </div>
</ng-template>

<ng-template #inputTaskFormCodedList>
  <div class="add-task-block">
    <form [formGroup]="createTaskFormCodedList" novalidate (ngSubmit)="addTask(codedList, createTaskFormCodedList.value.taskTitle, createTaskFormCodedList)"
          class="d-flex align-items-center add-task-form">
      <div class="form-group">
        <input type="text" class="form-control task-title" formControlName="taskTitle" placeholder="Enter task title"/>
      </div>
      <div class="form-group d-flex">
        <button class="btn btn-primary btn-sm add-task-form-button" [disabled]="createTaskFormCodedList.invalid">
          Add task
        </button>
      </div>
    </form>
    <button type="button" class="add-task-button" (click)="addTaskStatusToggle(codedList)">Close form</button>
  </div>
</ng-template>

<ng-template #addTaskButtonCodedList>
  <div class="add-button" [ngClass]="{invisible: !boardOwner}">
    <button type="button" class="add-task-button" (click)="addTaskStatusToggle(codedList)">Add task</button>
  </div>
</ng-template>

<ng-template #inputTaskFormTestingList>
  <div class="add-task-block">
    <form [formGroup]="createTaskFormTestingList" novalidate (ngSubmit)="addTask(testingList, createTaskFormTestingList.value.taskTitle, createTaskFormTestingList)"
          class="d-flex align-items-center add-task-form">
      <div class="form-group">
        <input type="text" class="form-control task-title" formControlName="taskTitle" placeholder="Enter task title"/>
      </div>
      <div class="form-group d-flex">
        <button class="btn btn-primary btn-sm add-task-form-button" [disabled]="createTaskFormTestingList.invalid">
          Add task
        </button>
      </div>
    </form>
    <button type="button" class="add-task-button" (click)="addTaskStatusToggle(testingList)">Close form</button>
  </div>
</ng-template>

<ng-template #addTaskButtonTestingList>
  <div class="add-button" [ngClass]="{invisible: !boardOwner}">
    <button type="button" class="add-task-button" (click)="addTaskStatusToggle(testingList)">Add task</button>
  </div>
</ng-template>

<ng-template #inputTaskFormDoneList>
  <div class="add-task-block">
    <form [formGroup]="createTaskFormDoneList" novalidate (ngSubmit)="addTask(doneList, createTaskFormDoneList.value.taskTitle, createTaskFormDoneList)"
          class="d-flex align-items-center add-task-form">
      <div class="form-group">
        <input type="text" class="form-control task-title" formControlName="taskTitle" placeholder="Enter task title"/>
      </div>
      <div class="form-group d-flex">
        <button class="btn btn-primary btn-sm add-task-form-button " [disabled]="createTaskFormDoneList.invalid">
          Add task
        </button>
      </div>
    </form>
    <button type="button" class="add-task-button" (click)="addTaskStatusToggle(doneList)">Close form</button>
  </div>
</ng-template>

<ng-template #addTaskButtonDoneList>
  <div class="add-button" [ngClass]="{invisible: !boardOwner}">
    <button type="button" class="add-task-button" (click)="addTaskStatusToggle(doneList)">Add task</button>
  </div>
</ng-template>

<div class="modal fade" id="myModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Found tasks</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="modal-window" *ngIf="foundTasks.length != 0; then modalWindowHaveTasks else modalWindowNoTasks"></div>

        <ng-template #modalWindowHaveTasks>
          <div class="container-fluid">
            <div class="modal-tasks-block" *ngFor="let item of foundTasks">
              <div class="row modal-tasks-item">
                <div class="modal-window-task-list-name">List name: {{item.listName}}</div>
                <div class="modal-window-task-title">Task title: {{item.taskTitle}}</div>
                <div class="modal-window-task-text">Task text: {{item.taskText}}</div>
              </div>
            </div>
          </div>
        </ng-template>

        <ng-template #modalWindowNoTasks>
          <div class="container-fluid">
            <div class="row modal-no-tasks">No tasks found!</div>
          </div>
        </ng-template>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
