<div class="wrapper">

    <div class="list-item ">
      <div class="list-title d-flex justify-content-center">
        {{todoList}}
      </div>
      <div class="dividing-line"></div>
      <div class="form-group" *ngIf="todoListTasks.length; then haveTasksTodoList else noTasks">
      </div>
      <div *ngIf="addTaskStatusTodoList; then addTaskButtonTodoList else inputTaskFormTodoList"></div>
      <div class="list-options">
        <button type="button" class="btn btn-primary btn-sm" (click)="deleteAllTasks(todoListTasks)">Delete all tasks</button>
      </div>
    </div>

    <div class="list-item">
      <div class="list-title d-flex justify-content-center">
        {{inProgressList}}
      </div>
      <div class="dividing-line"></div>
      <div class="form-group" *ngIf="inProgressListTasks.length; then haveTasksProgressList else noTasks">
      </div>
      <div *ngIf="addTaskStatusProgressList; then addTaskButtonProgressList else inputTaskFormProgressList"></div>
      <div class="list-options">
        <button type="button" class="btn btn-primary btn-sm" (click)="deleteAllTasks(inProgressListTasks)">Delete all tasks</button>
      </div>
    </div>

    <div class="list-item">
      <div class="list-title d-flex justify-content-center">
        {{codedList}}
      </div>
      <div class="dividing-line"></div>
      <div class="form-group" *ngIf="codedListTasks.length; then haveTasksCodedList else noTasks">
      </div>
      <div *ngIf="addTaskStatusCodedList; then addTaskButtonCodedList else inputTaskFormCodedList"></div>
      <div class="list-options">
        <button type="button" class="btn btn-primary btn-sm" (click)="deleteAllTasks(codedListTasks)">Delete all tasks</button>
      </div>
    </div>

    <div class="list-item">
      <div class="list-title d-flex justify-content-center">
        {{testingList}}
      </div>
      <div class="dividing-line"></div>
      <div class="form-group" *ngIf="testingListTasks.length; then haveTasksTestingList else noTasks">
      </div>
      <div *ngIf="addTaskStatusTestingList; then addTaskButtonTestingList else inputTaskFormTestingList"></div>
      <div class="list-options">
        <button type="button" class="btn btn-primary btn-sm" (click)="deleteAllTasks(testingListTasks)">Delete all tasks</button>
      </div>
    </div>

    <div class="list-item">
      <div class="list-title d-flex justify-content-center">
        {{doneList}}
      </div>
      <div class="dividing-line"></div>
      <div class="form-group" *ngIf="doneListTasks.length; then haveTasksDoneList else noTasks">
      </div>
      <div *ngIf="addTaskStatusDoneList; then addTaskButtonDoneList else inputTaskFormDoneList"></div>
      <div class="list-options">
        <button type="button" class="btn btn-primary btn-sm" (click)="deleteAllTasks(doneListTasks)">Delete all tasks</button>
      </div>
    </div>

</div>

<ng-template #haveTasksTodoList>
  <div *ngFor="let item of todoListTasks">
    <div class="task-wrapper">
      <div class="form-group">
        <div class="task-title">Task title:<input type="text" class="form-control" [(ngModel)]="item.taskTitle" (change)="renameTaskTitleOrText(item.taskId, item.taskTitle, null)"/></div>
        <div class="task-text">Task text:<input type="text" class="form-control" [(ngModel)]="item.taskText" (change)="renameTaskTitleOrText(item.taskId, null, item.taskText)"/></div>
      </div>
        <div class="options-block">
      <button type="button" class="btn btn-primary btn-sm delete-task-button" (click)="deleteTask(item.taskId)">Delete task</button>
      <button type="button" class="btn btn-secondary btn-sm">Tap me</button>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #haveTasksProgressList>
  <div *ngFor="let item of inProgressListTasks">
    <div class="task-wrapper">
      <div class="form-group">
        <div class="task-title">Task title:<input type="text" class="form-control" [(ngModel)]="item.taskTitle" (change)="renameTaskTitleOrText(item.taskId, item.taskTitle, null)"/></div>
        <div class="task-text">Task text:<input type="text" class="form-control" [(ngModel)]="item.taskText" (change)="renameTaskTitleOrText(item.taskId, null, item.taskText)"/></div>
      </div>
      <div class="options-block">
        <button type="button" class="btn btn-primary btn-sm delete-task-button" (click)="deleteTask(item.taskId)">Delete task</button>
        <button type="button" class="btn btn-secondary btn-sm">Tap me</button>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #haveTasksCodedList>
  <div *ngFor="let item of codedListTasks">
    <div class="task-wrapper">
      <div class="form-group">
        <div class="task-title">Task title:<input type="text" class="form-control" [(ngModel)]="item.taskTitle" (change)="renameTaskTitleOrText(item.taskId, item.taskTitle, null)"/></div>
        <div class="task-text">Task text:<input type="text" class="form-control" [(ngModel)]="item.taskText" (change)="renameTaskTitleOrText(item.taskId, null, item.taskText)"/></div>
      </div>
      <div class="options-block">
        <button type="button" class="btn btn-primary btn-sm delete-task-button" (click)="deleteTask(item.taskId)">Delete task</button>
        <button type="button" class="btn btn-secondary btn-sm">Tap me</button>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #haveTasksTestingList>
  <div *ngFor="let item of testingListTasks">
    <div class="task-wrapper">
      <div class="form-group">
        <div class="task-title">Task title:<input type="text" class="form-control" [(ngModel)]="item.taskTitle" (change)="renameTaskTitleOrText(item.taskId, item.taskTitle, null)"/></div>
        <div class="task-text">Task text:<input type="text" class="form-control" [(ngModel)]="item.taskText" (change)="renameTaskTitleOrText(item.taskId, null, item.taskText)"/></div>
      </div>
      <div class="options-block">
        <button type="button" class="btn btn-primary btn-sm delete-task-button" (click)="deleteTask(item.taskId)">Delete task</button>
        <button type="button" class="btn btn-secondary btn-sm">Tap me</button>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #haveTasksDoneList>
  <div *ngFor="let item of doneListTasks">
    <div class="task-wrapper">
      <div class="form-group">
        <div class="task-title">Task title:<input type="text" class="form-control" [(ngModel)]="item.taskTitle" (change)="renameTaskTitleOrText(item.taskId, item.taskTitle, null)"/></div>
        <div class="task-text">Task text:<input type="text" class="form-control" [(ngModel)]="item.taskText" (change)="renameTaskTitleOrText(item.taskId, null, item.taskText)"/></div>
      </div>
      <div class="options-block">
        <button type="button" class="btn btn-primary btn-sm delete-task-button" (click)="deleteTask(item.taskId)">Delete task</button>
        <button type="button" class="btn btn-secondary btn-sm">Tap me</button>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #noTasks>
</ng-template>



<ng-template #inputTaskFormTodoList>
  <div class="add-task-block">
    <form [formGroup]="createTaskFormTodoList" novalidate (ngSubmit)="addTask(todoList, createTaskFormTodoList.value.taskTitle, createTaskFormTodoList.value.taskText)"
          class="d-flex align-items-center add-task-form">
      <div class="form-group">
        <input type="text" class="form-control task-title" formControlName="taskTitle" placeholder="Enter task title"/>
      </div>
      <div class="form-group">
        <input type="text" class="form-control task-text" formControlName="taskText" placeholder="Enter task text"/>
      </div>
      <div class="form-group d-flex">
        <button class="btn btn-primary btn-sm add-task-form-button" [disabled]="createTaskFormTodoList.invalid">
          Add task
        </button>
      </div>
    </form>
  <button type="button" class="add-task-button" (click)="addTaskStatusToggle(todoList)">Close form</button>
  </div>
</ng-template>

<ng-template #addTaskButtonTodoList>
  <div class="add-button">
  <button type="button" class="add-task-button" (click)="addTaskStatusToggle(todoList)">Add task</button>
  </div>
</ng-template>

<ng-template #inputTaskFormProgressList>
  <div class="add-task-block">
    <form [formGroup]="createTaskFormProgressList" novalidate (ngSubmit)="addTask(inProgressList, createTaskFormProgressList.value.taskTitle, createTaskFormProgressList.value.taskText)"
          class="d-flex align-items-center add-task-form">
      <div class="form-group">
        <input type="text" class="form-control task-title" formControlName="taskTitle" placeholder="Enter task title"/>
      </div>
      <div class="form-group">
        <input type="text" class="form-control task-text" formControlName="taskText" placeholder="Enter task text"/>
      </div>
      <div class="form-group d-flex">
        <button class="btn btn-primary btn-sm add-task-form-button" [disabled]="createTaskFormProgressList.invalid">
          Add task
        </button>
      </div>
    </form>
    <button type="button" class="add-task-button" (click)="addTaskStatusToggle(inProgressList)">Close form</button>
  </div>
</ng-template>

<ng-template #addTaskButtonProgressList>
  <div class="add-button">
    <button type="button" class="add-task-button" (click)="addTaskStatusToggle(inProgressList)">Add task</button>
  </div>
</ng-template>

<ng-template #inputTaskFormCodedList>
  <div class="add-task-block">
    <form [formGroup]="createTaskFormCodedList" novalidate (ngSubmit)="addTask(codedList, createTaskFormCodedList.value.taskTitle, createTaskFormCodedList.value.taskText)"
          class="d-flex align-items-center add-task-form">
      <div class="form-group">
        <input type="text" class="form-control task-title" formControlName="taskTitle" placeholder="Enter task title"/>
      </div>
      <div class="form-group">
        <input type="text" class="form-control task-text" formControlName="taskText" placeholder="Enter task text"/>
      </div>
      <div class="form-group d-flex">
        <button class="btn btn-primary btn-sm add-task-form-button" [disabled]="createTaskFormCodedList.invalid">
          Add task
        </button>
      </div>
    </form>
    <button type="button" class="add-task-button" (click)="addTaskStatusToggle(codedList)">Close form</button>
  </div>
</ng-template>

<ng-template #addTaskButtonCodedList>
  <div class="add-button">
    <button type="button" class="add-task-button" (click)="addTaskStatusToggle(codedList)">Add task</button>
  </div>
</ng-template>

<ng-template #inputTaskFormTestingList>
  <div class="add-task-block">
    <form [formGroup]="createTaskFormTestingList" novalidate (ngSubmit)="addTask(testingList, createTaskFormTestingList.value.taskTitle, createTaskFormTestingList.value.taskText)"
          class="d-flex align-items-center add-task-form">
      <div class="form-group">
        <input type="text" class="form-control task-title" formControlName="taskTitle" placeholder="Enter task title"/>
      </div>
      <div class="form-group">
        <input type="text" class="form-control task-text" formControlName="taskText" placeholder="Enter task text"/>
      </div>
      <div class="form-group d-flex">
        <button class="btn btn-primary btn-sm add-task-form-button" [disabled]="createTaskFormTestingList.invalid">
          Add task
        </button>
      </div>
    </form>
    <button type="button" class="add-task-button" (click)="addTaskStatusToggle(testingList)">Close form</button>
  </div>
</ng-template>

<ng-template #addTaskButtonTestingList>
  <div class="add-button">
    <button type="button" class="add-task-button" (click)="addTaskStatusToggle(testingList)">Add task</button>
  </div>
</ng-template>

<ng-template #inputTaskFormDoneList>
  <div class="add-task-block">
    <form [formGroup]="createTaskFormDoneList" novalidate (ngSubmit)="addTask(doneList, createTaskFormDoneList.value.taskTitle, createTaskFormDoneList.value.taskText)"
          class="d-flex align-items-center add-task-form">
      <div class="form-group">
        <input type="text" class="form-control task-title" formControlName="taskTitle" placeholder="Enter task title"/>
      </div>
      <div class="form-group">
        <input type="text" class="form-control task-text" formControlName="taskText" placeholder="Enter task text"/>
      </div>
      <div class="form-group d-flex">
        <button class="btn btn-primary btn-sm add-task-form-button" [disabled]="createTaskFormDoneList.invalid">
          Add task
        </button>
      </div>
    </form>
    <button type="button" class="add-task-button" (click)="addTaskStatusToggle(doneList)">Close form</button>
  </div>
</ng-template>

<ng-template #addTaskButtonDoneList>
  <div class="add-button">
    <button type="button" class="add-task-button" (click)="addTaskStatusToggle(doneList)">Add task</button>
  </div>
</ng-template>
