.main-container{
  width: 40%;
  margin-top: 15%;
}

.no-button{
  margin-left: 3rem;
}

.popup-block {
  margin-top: 2rem;
}

.go-to-login-button {
  margin-top: 1rem;
}

.link-title {
  margin-bottom: 1rem;
}

.main-container{
  @media (max-width: 575.98px) {
    width: 100%;
  }
}
